#root {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.joystick-container {  
  max-width: 600px;
  max-height: 600px;
  width: 100vw;
  height: 100vh;
  position: relative;
  cursor: pointer;
}
.canvas {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(40, 40, 40);
  border-radius: 3px;
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  z-index: -1;
  overflow: hidden;
}
.canvas > div {
  position: relative;
  border: 1px solid rgb(40, 40, 40);
  display: none;
}
.canvas > div > div {
  position: relative;
  background-color: rgb(40, 40, 40);
}